*{
    color:white;
}
h1 a{
    color:white;
    text-decoration: none;
}
h2{
    color:white;
    text-decoration: none;
}
ul{
    background-color: white;
    text-align: center;
    width: 100%;
    list-style-type: none;  /*목록 기호 제거*/
}
li{
    padding:5px;
}
li a{
    color:black;
    text-decoration: none;  /*밑줄 제거*/
}
li a:active{
    color:darkgray;
    font-size: 20px;
    }
li a:hover{
    color:lightcoral;                                                     ;
    font-size: 20px;
    display: inline-block;
    transition-property:transform all;
    transition-duration: 0.3s;
}
p>input,textarea{
    color:black;
}

p>input{
    display: inline-block;
    padding: 5px;
    border-radius: 5;
    /* letter-spacing: 2; */
    text-decoration: none;

    background-color: white;
    color:lightcoral;
}
.button:hover{
        color:white; 
        background-color: lightcoral;
}